<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href={{url_for('.static', filename='css/jquery.plugin.js')}}">
</head>
<body>



<div id="startTimer"></div>
<div id="endTimer"></div>
<div id="Timers"></div>







<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="../static/libs/countdown.js"></script>
<script src="../static/libs/date.js')}}"></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://use.ntpjs.org/ntp.js" async defer></script>
<script type="text/javascript" src="../static/libs/jquery.plugin.js"></script>
<script type="text/javascript" src="../static/libs/jquery.countdown.js"></script>

<script>
    $(document).ready(function() {

        fetch("../static/data/workout1.json")
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                console.log(data);
                parseResults(data)
            });
    });



</script>

</body>
</html>